* {
  margin: 0;
  padding: 0;
}

#game {
  height: 200px;
  width: 500px;
  border: 1px solid black;
  margin: auto;
  margin-top: 200px;
}

#character {
  width: 20px;
  height: 50px;
  background-color: orangered;
  position: relative;
  top: 150px;
  left: 30px;
  /* animation: jump 500ms linear;
  -webkit-animation: jump 500ms linear; */
}

#block {
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s linear infinite;
  -webkit-animation: block 1s linear infinite;
}

.animate{
    animation: jump 500ms;
    -webkit-animation: jump 500ms;
}

@keyframes block {
  0%{left:480px;}
  100%{left:-40px;}
  0%{ transform:rotate (0deg) ; -webkit-transform:rotate (0deg) ; -moz-transform:rotate (0deg) ; -ms-transform:rotate (0deg) ; -o-transform:rotate (0deg) ; }
  100%{ transform:rotate(-360deg) ; -webkit-transform:rotate(-360deg) ; -moz-transform:rotate(-360deg) ; -ms-transform:rotate(-360deg) ; -o-transform:rotate(-360deg) ; } 
}

@keyframes jump {
  0%{top: 165px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 160px;}
  0%{ transform:rotate(0deg) ; -webkit-transform:rotate(0deg) ; -moz-transform:rotate(0deg) ; -ms-transform:rotate(0deg) ; -o-transform:rotate(0deg) ; }
  20%{ transform:rotate(10deg) ; -webkit-transform:rotate(10deg) ; -moz-transform:rotate(10deg) ; -ms-transform:rotate(10deg) ; -o-transform:rotate(10deg) ; }
  100%{ transform:rotate(-10deg) ; -webkit-transform:rotate(-10deg) ; -moz-transform:rotate(-10deg) ; -ms-transform:rotate(-10deg) ; -o-transform:rotate(-10deg) ; }
  0%{ transform:scale(2,-.5) ; -webkit-transform:scale(2,-.5) ; -moz-transform:scale(2,-.5) ; -ms-transform:scale(2,-.5) ; -o-transform:scale(2,-.5) ; }
}

